<a class="mobile-menu-toggle js-toggle-menu hamburger-menu" href="#">
  <span class="menu-item"></span>
  <span class="menu-item"></span>
  <span class="menu-item"></span>
</a>

<nav class="mobile-nav-wrap" role="navigation">
  <div class="fixed-mobile-nav">
    <div class="push p30"></div>
    <div class="push p30"></div>
    <ul class="fixed-mobile-nav">
      <li><%= link_to "Home", "#{data.site.baseURL}/index.html" %></li>
      <li><%= link_to "Services", "#{data.site.baseURL}/services.html" %></li>
      <li><%= link_to "Jobs", "#{data.site.baseURL}/jobs.html" %></li>
      <li><%= link_to "About Us", "#{data.site.baseURL}/about.html" %></li>
      <li><%= link_to "Free Bid", "#{data.site.baseURL}/free-bid.html" %></li>
    </ul>
  </div>
</nav>
