<div class="not-printable">
  <div class="contact-container">
    <ul class="list-unstyled sec-contact-list grid--auto grid--center">

        <% if data.resume.info.email %>
          <li class="grid__cell">
            <a href="mailto:<%= data.resume.info.email %>" class="email">
              <i class="fa fa-envelope fa-2x"></i>
            </a>
          </li>
        <% end %>
        <% if data.resume.info.phone %>
          <li class="grid__cell">
            <a href="tel:<%= data.resume.info.phone %>" class="phone">
              <i class="fa fa-phone fa-2x"></i>
            </a>
          </li>
        <% end %>
        <% if data.resume.info.homepage? %>
          <li class="grid__cell">
            <a href="<%= data.resume.info.homepage %>" class="website" target="_blank">
              <i class="fab fa-wordpress fa-2x"></i>
            </a>
          </li>
        <% end %>

        <% %w[github linkedin twitter].each do |site| %>
          <% if data.resume.info.include?(site) %>
            <li class="<%= site %> grid__cell"><a href="<%= data.resume.info[site] %>" target="_blank"><i class="fab fa-<%= site %> fa-2x"></i></a></li>
          <% end %>
        <% end %>
    </ul>
  </div>
</div>

<div class="printable">
  <h2 class="print-title">CONTACT</h2>

  <ul class="list-unstyled sec-contact-list">

      <% if data.resume.info.email %>
        <li>
          <a href="mailto:<%= data.resume.info.email %>" class="email">
            <i class="fa fa-envelope fa-2x"></i><%= data.resume.info.email %>
          </a>
        </li>
      <% end %>
      <% if data.resume.info.phone %>
        <li>
          <a href="tel:<%= data.resume.info.phone %>" class="phone">
            <i class="fa fa-phone fa-2x"></i><%= data.resume.info.phone %>
          </a>
        </li>
      <% end %>
      <% if data.resume.info.homepage? %>
        <li>
          <a href="<%= data.resume.info.homepage %>" class="website" target="_blank">
            <i class="fab fa-wordpress fa-2x"></i><%= data.resume.info.homepage %>
          </a>
        </li>
      <% end %>

      <% %w[github linkedin twitter].each do |site| %>
        <% if data.resume.info.include?(site) %>
          <li><a href="<%= data.resume.info[site] %>" target="_blank"><i class="fab fa-<%= site %> fa-2x"></i><%= data.resume.info[site].gsub(/^https?\:\/\//, "") %></a></li>
        <% end %>
      <% end %>
  </ul>

</div>
<!-- <hr class="thirteen" /> -->
