---
title: Art Gallery
layout: "layout"
---

<% content_for :assets do %>
  <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Cabin+Sketch:700|Libre+Barcode+128+Text' %>
<% end %>

<canvas id="granim-canvas" class="art-page"></canvas>

<div class="artwork" id="artpage">

  <header>
    <h1>ART & DESIGN<br><span>COLLECTED DIGITAL GREATNESS</span></h1>
  </header>

  <div id="top"></div>

  <!-- IMAGE GALLERY -->
  <section class="gallery">
  	<div class="row">
      <div class="art-grid">
        <div class="masonry js-masonry js-images-loaded">

          <% data.artworks.each_with_index do |artwork,index| %>
            <div class="masonry__item js-masonry-item" data-target="#<%= slug_text artwork[0] %>">
              <figure>
                <picture>
                  <img src="<%= artwork[1][3] %>" alt="<%= artwork[0] %>" />
                </picture>
              </figure>
            </div>
          <% end %>

        </div>
      </div>
  	</div>
  </section>

  <!-- DETAILED OVERLAYS -->
  <% data.artworks.each_with_index do |artwork,index| %>
    <div id="<%= slug_text artwork[0] %>" class="port">
  	  <div class="port_wrap">

        <div class="grid">
      		<div class="c-50--lap-and-up grid__cell">
            <div class="title-box">
              <h1><%= artwork[1][0] %></h1>
              <h2><%= artwork[1][1] %></h2>
            </div>
      			<div class="description">
        			<p><%= artwork[1][2] %></p>
            </div>
      		</div>
          <div class="c-50--lap-and-up grid__cell">
            <% if artwork[1][4] %>
              <a href="<%= artwork[1][4] %>">
                <img src="<%= artwork[1][4] %>" alt="<%= artwork[0] %>" />
              </a>
              <a href="<%= artwork[1][3] %>">
                <img src="<%= artwork[1][3] %>" alt="<%= artwork[0] %>" />
              </a>
            <% else %>
              <a href="<%= artwork[1][3] %>">
                <img src="<%= artwork[1][3] %>" alt="<%= artwork[0] %>" />
              </a>
            <% end %>
            <p class="alert"><small>Click image to view full sized.</small></p>
          </div>
        </div>

      </div>
  	</div>
  <% end %>

</div>
